$primary_color:#531CA5;
$secondary_color:#ace35a;
$light:#fff;
$dark:#d3d3d3;



body {
    font-family: Arial, Helvetica, sans-serif;
    background: $dark;
    overflow-x: hidden;
  }

@mixin setFlex($direction) {
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
a.delete{
    color: $light;
    font-weight: bold;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 5px;
    padding-bottom: 5px;
    background:red;
    border-radius: 5px;
    transition: 0.5s ease-in;
    &:hover{
        background: #ff02029a;
        color: #fff;
    }
}

#delete{
    border: none;
    color: $light;
    font-weight: bold;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 5px;
    padding-bottom: 5px;
    background:red;
    border-radius: 5px;
    transition: 0.5s ease-in;
    &:hover{
        background: #ff02029a;
        color: #fff;
    }
}
a.butt{
    color: $light;
    font-weight: bold;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 5px;
    padding-bottom: 5px;
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    border-radius: 5px;
    transition: 0.5s ease-in;
    &:hover{
        background: #ffec8b;
        color: #000;
    }
}

#butt{
    border: none;
    color: $light;
    font-weight: bold;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 5px;
    padding-bottom: 5px;
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    border-radius: 5px;
    transition: 0.5s ease-in;
    &:hover{
        background: #ffec8b;
        color: #000;
    }
}

.butt{
    color: $light;
    font-weight: bold;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 5px;
    padding-bottom: 5px;
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    border-radius: 5px;
    transition: 0.5s ease-in;
    &:hover{
        background: #ffec8b;
        color: #000;
    }
}
button.butt{
    border: none;
    color: $light;
    font-weight: bold;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 5px;
    padding-bottom: 5px;
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    border-radius: 5px;
    transition: 0.5s ease-in;
    &:hover{
        background: #ffec8b;
        color: #000;
    }
}