@import "./_config";
@import "./debody";

#addemployeeform,#volunteerform,#tripform,#partnerform{
    background-color: #0037a0;;
    color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 5px;
    small{
        display: none;
    }
}

h3.header-employee{
    font-weight: bold;
    color: $light;

}
.employee-container{
    padding: 20px;
    .card{
        border-radius: 5px;
        background: silver;
        max-width: 100%;
        height: 400px;
        .card-back{
            width: 100%;
            height: 200px;
            position: absolute;
            background: url('../images/airbnb-apartment-appartment-584399.jpg');
            background-repeat: no-repeat;
            background-size: 100%;
        }
        .employee-full-details{
            z-index: 1;
            position: relative;
            .employee-pic{
                margin-top: 150px;
                @include setFlex(column);
                padding: 10px;
                img{
                    width: 80px;
                    height: 80px;
                    border-radius: 40px;
                    border: solid silver 2px;
                    overflow: hidden;
                    transition: 0.5s ease-in;
                    &:hover{
                        transform: scale(1.2);
                    }
                }
            }
            .employee-details{
                
                h3{
                    font-weight: bold;
                    font-size: 20px;
                }
                h6{
                   color: #002387;
                   font-weight: bold; 
                }
                h3.em-email{
                    text-align: center;
                    font-size: 15px;
                }
            }
        }
    }
    
}