@import "./config";

.main-reports,.main-post,.main-user-messages{

    padding: 20px;
    h5{
        font-size: 15px;
    }
    img{
        width: 40px;
        height: 40px;
        border-radius: 20px;
    }
    a{
        // color: #000;
        font-size: 12px;
        font-weight: bold;
        text-transform: capitalize;
    }
    li{
        transition: 0.5s ease-in;
        &:hover{
            background: #eedd82;
            color: #fff;
        }
    }
}



.dashboard{
    padding: 20px;
    font-weight: bold;
}
