body {
  font-family: Arial, Helvetica, sans-serif;
  background: #d3d3d3;
  overflow-x: hidden;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a.delete {
  color: #fff;
  font-weight: bold;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 5px;
  padding-bottom: 5px;
  background: red;
  border-radius: 5px;
  -webkit-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
}

a.delete:hover {
  background: #ff02029a;
  color: #fff;
}

#delete {
  border: none;
  color: #fff;
  font-weight: bold;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 5px;
  padding-bottom: 5px;
  background: red;
  border-radius: 5px;
  -webkit-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
}

#delete:hover {
  background: #ff02029a;
  color: #fff;
}

a.butt {
  color: #fff;
  font-weight: bold;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 5px;
  padding-bottom: 5px;
  background: #020024;
  background: -webkit-gradient(linear, left top, right top, from(#020024), color-stop(35%, #090979), to(#00d4ff));
  background: linear-gradient(90deg, #020024 0%, #090979 35%, #00d4ff 100%);
  border-radius: 5px;
  -webkit-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
}

a.butt:hover {
  background: #ffec8b;
  color: #000;
}

#butt {
  border: none;
  color: #fff;
  font-weight: bold;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 5px;
  padding-bottom: 5px;
  background: #020024;
  background: -webkit-gradient(linear, left top, right top, from(#020024), color-stop(35%, #090979), to(#00d4ff));
  background: linear-gradient(90deg, #020024 0%, #090979 35%, #00d4ff 100%);
  border-radius: 5px;
  -webkit-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
}

#butt:hover {
  background: #ffec8b;
  color: #000;
}

.butt {
  color: #fff;
  font-weight: bold;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 5px;
  padding-bottom: 5px;
  background: #020024;
  background: -webkit-gradient(linear, left top, right top, from(#020024), color-stop(35%, #090979), to(#00d4ff));
  background: linear-gradient(90deg, #020024 0%, #090979 35%, #00d4ff 100%);
  border-radius: 5px;
  -webkit-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
}

.butt:hover {
  background: #ffec8b;
  color: #000;
}

button.butt {
  border: none;
  color: #fff;
  font-weight: bold;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 5px;
  padding-bottom: 5px;
  background: #020024;
  background: -webkit-gradient(linear, left top, right top, from(#020024), color-stop(35%, #090979), to(#00d4ff));
  background: linear-gradient(90deg, #020024 0%, #090979 35%, #00d4ff 100%);
  border-radius: 5px;
  -webkit-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
}

button.butt:hover {
  background: #ffec8b;
  color: #000;
}

body {
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(rgba(39, 39, 39, 0.9)), to(rgba(39, 39, 39, 0.3))), url("../images/altitude-clouds-cold-daylight-417173.jpg");
  background: linear-gradient(to right, rgba(39, 39, 39, 0.9), rgba(39, 39, 39, 0.3)), url("../images/altitude-clouds-cold-daylight-417173.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.main-reports,
.main-post,
.main-user-messages {
  padding: 20px;
}

.main-reports h5,
.main-post h5,
.main-user-messages h5 {
  font-size: 15px;
  color: #fff;
}

.main-reports img,
.main-post img,
.main-user-messages img {
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

.main-reports a,
.main-post a,
.main-user-messages a {
  font-size: 12px;
  font-weight: bold;
  text-transform: capitalize;
}

.main-reports li,
.main-post li,
.main-user-messages li {
  -webkit-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
}

.main-reports li:hover,
.main-post li:hover,
.main-user-messages li:hover {
  background: #eedd82;
  color: #fff;
}

.dashboard {
  padding: 20px;
  font-weight: bold;
  color: #fff;
}

@-webkit-keyframes glow {
  0% {
    border: solid #00FF00 2px;
  }
  50% {
    border: solid #228B22 2px;
  }
  100% {
    border: solid green 2px;
  }
}

@keyframes glow {
  0% {
    border: solid #00FF00 2px;
  }
  50% {
    border: solid #228B22 2px;
  }
  100% {
    border: solid green 2px;
  }
}

.mymain-container-box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.mymain-container-box > div {
  height: 210px;
  background-size: cover;
  background-attachment: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.mymain-container-box > div:hover {
  opacity: 0.7;
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}

.mymain-container-box > div:nth-of-type(1) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

.mymain-container-box > div:nth-of-type(4) {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
}

.mainbg1 {
  background: url("../images/nature-red-forest-leaves-33109.jpg");
}

.mainbg1 a {
  color: white;
  font-weight: bold;
}

.mainbg1 a img {
  color: white !important;
  width: 40px;
  height: 40px;
}

.mainbg2 {
  background: url("../images/photo-of-pod-of-dolphins-2422915.jpg");
}

.mainbg2 a {
  color: white;
  font-weight: bold;
}

.mainbg2 a img {
  width: 40px;
  height: 40px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .mymain-container-box {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    gap: 10px;
  }
  .mymain-container-box > div:nth-of-type(1) {
    -ms-grid-column: 1;
    grid-column: 1;
  }
  .mymain-container-box > div:nth-of-type(4) {
    -ms-grid-column: 1;
    grid-column: 1;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 768px) {
  .mymain-container-box {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .mymain-container-box > div:nth-of-type(1) {
    -ms-grid-column: 1;
    grid-column: 1;
  }
  .mymain-container-box > div:nth-of-type(4) {
    -ms-grid-column: 1;
    grid-column: 1;
  }
}

@media only screen and (min-width: 992px) {
  .mymain-container-box {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
}

@media only screen and (min-width: 1200px) {
  .mymain-container-box {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
  .mymain-container-box > div:nth-of-type(1) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
  .mymain-container-box > div:nth-of-type(4) {
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2/4;
  }
}
/*# sourceMappingURL=main.css.map */