@import "./config";
@import "./debody";
.admin-posts {
  padding: 10px;
  .post-poster {
    img {
      width: 100%;
      height: 300px;
    }
  }
}
.admin-post-details{
  h3{
    color: $light;
  }
    p.pst-msg{
        padding: 10px;
        background: #eff0f1;
        border-radius: 5px;
    }
    .from-admin {
      img {
        width: 40px;
        height: 40px;
        border-radius: 20px;
        border: solid 2px silver;
      }
    }
}
h3,h4{
  color: $light;
}
// comments section
.comment-section-post{
    padding: 10px;
    background: #eff0f1;
    border-radius: 5px;
}

textarea{
    resize: none;
}
.ps-header{
  font-weight: bold;
  padding: 20px;
}