body {
  font-family: Arial, Helvetica, sans-serif;
  background: #d3d3d3;
  overflow-x: hidden;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a.delete {
  color: #fff;
  font-weight: bold;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 5px;
  padding-bottom: 5px;
  background: red;
  border-radius: 5px;
  -webkit-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
}

a.delete:hover {
  background: #ff02029a;
  color: #fff;
}

#delete {
  border: none;
  color: #fff;
  font-weight: bold;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 5px;
  padding-bottom: 5px;
  background: red;
  border-radius: 5px;
  -webkit-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
}

#delete:hover {
  background: #ff02029a;
  color: #fff;
}

a.butt {
  color: #fff;
  font-weight: bold;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 5px;
  padding-bottom: 5px;
  background: #020024;
  background: -webkit-gradient(linear, left top, right top, from(#020024), color-stop(35%, #090979), to(#00d4ff));
  background: linear-gradient(90deg, #020024 0%, #090979 35%, #00d4ff 100%);
  border-radius: 5px;
  -webkit-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
}

a.butt:hover {
  background: #ffec8b;
  color: #000;
}

#butt {
  border: none;
  color: #fff;
  font-weight: bold;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 5px;
  padding-bottom: 5px;
  background: #020024;
  background: -webkit-gradient(linear, left top, right top, from(#020024), color-stop(35%, #090979), to(#00d4ff));
  background: linear-gradient(90deg, #020024 0%, #090979 35%, #00d4ff 100%);
  border-radius: 5px;
  -webkit-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
}

#butt:hover {
  background: #ffec8b;
  color: #000;
}

.butt {
  color: #fff;
  font-weight: bold;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 5px;
  padding-bottom: 5px;
  background: #020024;
  background: -webkit-gradient(linear, left top, right top, from(#020024), color-stop(35%, #090979), to(#00d4ff));
  background: linear-gradient(90deg, #020024 0%, #090979 35%, #00d4ff 100%);
  border-radius: 5px;
  -webkit-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
}

.butt:hover {
  background: #ffec8b;
  color: #000;
}

button.butt {
  border: none;
  color: #fff;
  font-weight: bold;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 5px;
  padding-bottom: 5px;
  background: #020024;
  background: -webkit-gradient(linear, left top, right top, from(#020024), color-stop(35%, #090979), to(#00d4ff));
  background: linear-gradient(90deg, #020024 0%, #090979 35%, #00d4ff 100%);
  border-radius: 5px;
  -webkit-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
}

button.butt:hover {
  background: #ffec8b;
  color: #000;
}

body {
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(rgba(39, 39, 39, 0.9)), to(rgba(39, 39, 39, 0.3))), url("../images/altitude-clouds-cold-daylight-417173.jpg");
  background: linear-gradient(to right, rgba(39, 39, 39, 0.9), rgba(39, 39, 39, 0.3)), url("../images/altitude-clouds-cold-daylight-417173.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.report-main h3 {
  color: #fff;
}

.reports {
  padding: 20px;
}

.reports .report-group a img {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  float: left;
}

.reports .report-group a span {
  padding: 10px;
  text-transform: capitalize;
  font-weight: bold;
}

.reports .report-group a span.report-writer {
  color: #000;
}

.reports .report-group a small.date-posted {
  float: right;
}

.report-container {
  padding: 20px;
}

.report-container .report-img-username img {
  width: 60px;
  height: 60px;
  border-radius: 30px;
}

.report-container .report-img-username span {
  text-transform: capitalize;
  font-weight: bold;
  color: #fff;
}

.report-container .main-report-container {
  padding: 20px;
  background-color: #eff0f1;
  border-radius: 5px;
}

.report-container .main-report-container h3 {
  color: black;
}

.more-reports ul li {
  -webkit-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
}

.more-reports ul li:hover {
  background: #eedd82;
  color: #fff;
}

.more-reports ul li a {
  color: #000;
  font-weight: bold;
}
/*# sourceMappingURL=reports.css.map */