* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  line-height: 1.4;
  background: radial-gradient(
    ellipse at center,
    #36383f 0%,
    #1a1d22 60%,
    #000 90%
  );
  color: white;
  height: 100%;
}

.mynav-wrapper {
  .myshowcase {
    width: 100%;
    height: 100vh;
    .myback-overlay {
      width: 100%;
      height: 100vh;
      position: absolute;
      //   z-index: 2;
      background-color: rgba(0, 0, 0, 0.8);
    }
    .myshowcase-back {
      width: 100%;
      height: 100vh;
      position: absolute;
      background: url("../images/little-girl-taking-online-classes-4261787.jpg");
      background-repeat: no-repeat;
      background-size: 100%;
      background-attachment: fixed;
      z-index: -1;
    }
  }
  .myheader-item {
    position: relative;
    color: white;
    margin-top: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    mark {
      border-radius: 15px;
    }
    .face {
      position: relative;
      width: 250px;
      height: 250px;
      border-radius: 50%;
      background: rgb(107, 52, 1);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      z-index: 1;
      &::before {
        content: "";
        font-weight: bold;
        text-align: center;
        position: absolute;
        top: 150px;
        width: 150px;
        height: 70px;
        background: #815400;
        border-bottom-left-radius: 70px;
        border-bottom-right-radius: 70px;
        transition: 0.5s;
      }
      &:hover::before {
        text-align: center;
        top: 180px;
        width: 150px;
        height: 20px;
        background: #815400;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        transition: 0.5s;
      }
      .eyes {
        position: relative;
        top: -20px;
        display: flex;
        .eye {
          position: relative;
          width: 60px;
          height: 60px;
          display: block;
          border-radius: 50%;
          background: rgb(255, 255, 255);
          margin: 0 15px;
          &::before {
            content: "";
            position: absolute;
            top: 30%;
            left: 25px;
            transform: translate(-50%, -50%);
            width: 20px;
            height: 20px;
            background: #333;
            border-radius: 50%;
          }
        }
      }
    }
    .myheader {
      font-weight: bold;
      font-size: 35px;
      span.s {
        color: rgba(21, 181, 250, 0.904);
        font-weight: bold;
        font-size: 45px;
        &:hover {
          text-shadow: rgba($color: #000000, $alpha: 1);
        }
      }
      span.u {
        color: rgba(255, 198, 37, 255);
        font-weight: bold;
        font-size: 45px;
      }
      span.m1 {
        color: rgba(240, 71, 156, 255);
        font-weight: bold;
        font-size: 45px;
      }
      span.m2 {
        color: rgba(185, 231, 62, 255);
        font-weight: bold;
        font-size: 45px;
      }
      span.e {
        color: rgba(41, 231, 255, 255);
        font-weight: bold;
        font-size: 45px;
      }
      span.r {
        color: rgba(255, 144, 72, 255);
        font-weight: bold;
        font-size: 45px;
      }
    }
    p.msg-intro {
      font-size: 30px;
      font-weight: bold;
    }
    a {
      padding: 10px;
      font-size: 20px;
      color: rgba(255, 198, 37, 255);
      font-weight: bold;
      &:hover {
        background-color: rgba(255, 255, 255, 0.288);
        color: rgb(255, 255, 255);
        border-radius: 10px;
        transition: 1s ease;
      }
    }
    p#demo {
      text-align: center;
      font-size: 50px;
      margin-top: 0px;
      color: rgb(250, 0, 0);
    }
    span#current-holder {
      font-weight: bold;
    }
  }
  .hold-nav-tabs {
    .summer-tabs {
      padding: 20px;
      border-bottom: none;
      justify-content: center;

      li.gradeschool {
        background-color: rgba(21, 181, 250, 0.904);
        border-radius: 10px;
        font-weight: bold;
        color: white;
        font-size: 30px;
      }
      li.preschool {
        background-color: rgba(255, 198, 37, 255);
        border-radius: 10px;
        font-weight: bold;
        color: white;
        font-size: 30px;
      }
      li.kindergarten {
        background-color: rgba(240, 71, 156, 255);
        border-radius: 10px;
        font-weight: bold;
        color: white;
        font-size: 30px;
      }
    }
    .main-tab-contents {
      h5 {
        font-weight: bold;
      }
      ul {
        li {
          color: #000;
          font-weight: bold;
        }
      }
    }
  }
}

// media queries
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .mynav-wrapper {
    .myheader-item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      padding: 5px;
      margin-top: 90px;
      .face {
        display: none;
      }
      .myheader {
        font-size: 20px;
        span.s {
          color: rgba(21, 181, 250, 0.904);
          font-weight: bold;
          font-size: 30px;
          &:hover {
            text-shadow: rgba($color: #000000, $alpha: 1);
          }
        }
        span.u {
          color: rgba(255, 198, 37, 255);
          font-weight: bold;
          font-size: 30px;
        }
        span.m1 {
          color: rgba(240, 71, 156, 255);
          font-weight: bold;
          font-size: 30px;
        }
        span.m2 {
          color: rgba(185, 231, 62, 255);
          font-weight: bold;
          font-size: 30px;
        }
        span.e {
          color: rgba(41, 231, 255, 255);
          font-weight: bold;
          font-size: 30px;
        }
        span.r {
          color: rgba(255, 144, 72, 255);
          font-weight: bold;
          font-size: 30px;
        }
      }
      p.msg-intro {
        font-size: 20px;
        padding: 5px;
        mark {
          font-size: 15px;
        }
      }
      p#demo {
        font-size: 30px;
      }
    }
    .hold-nav-tabs {
      .summer-tabs {
        padding: 10px;
        border-bottom: none;
        justify-content: center;

        li.gradeschool {
          background-color: rgba(21, 181, 250, 0.904);
          border-radius: 10px;
          font-weight: bold;
          color: white;
          font-size: 20px;
        }
        li.preschool {
          background-color: rgba(255, 198, 37, 255);
          border-radius: 10px;
          font-weight: bold;
          color: white;
          font-size: 20px;
        }
        li.kindergarten {
          background-color: rgba(240, 71, 156, 255);
          border-radius: 10px;
          font-weight: bold;
          color: white;
          font-size: 20px;
        }
      }
    }
  }
}

/* Small devices (portrait tablets and large p}hones, 600px and up) */
@media only screen and (min-width: 600px) {
  .mynav-wrapper {
    
    .myheader-item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      padding: 5px;
      margin-top: 90px;
      .face {
        display: none;
      }
      .myheader {
        font-size: 30px;
        span.s {
          color: rgba(21, 181, 250, 0.904);
          font-weight: bold;
          font-size: 35px;
          &:hover {
            text-shadow: rgba($color: #000000, $alpha: 1);
          }
        }
        span.u {
          color: rgba(255, 198, 37, 255);
          font-weight: bold;
          font-size: 35px;
        }
        span.m1 {
          color: rgba(240, 71, 156, 255);
          font-weight: bold;
          font-size: 35px;
        }
        span.m2 {
          color: rgba(185, 231, 62, 255);
          font-weight: bold;
          font-size: 35px;
        }
        span.e {
          color: rgba(41, 231, 255, 255);
          font-weight: bold;
          font-size: 35px;
        }
        span.r {
          color: rgba(255, 144, 72, 255);
          font-weight: bold;
          font-size: 35px;
        }
      }
      p.msg-intro {
        font-size: 20px;
        padding: 5px;
        mark {
          font-size: 15px;
        }
      }
      p#demo {
        font-size: 30px;
      }
    }
    .hold-nav-tabs {
      .summer-tabs {
        padding: 10px;
        border-bottom: none;
        justify-content: center;

        li.gradeschool {
          background-color: rgba(21, 181, 250, 0.904);
          border-radius: 10px;
          font-weight: bold;
          color: white;
          font-size: 20px;
        }
        li.preschool {
          background-color: rgba(255, 198, 37, 255);
          border-radius: 10px;
          font-weight: bold;
          color: white;
          font-size: 20px;
        }
        li.kindergarten {
          background-color: rgba(240, 71, 156, 255);
          border-radius: 10px;
          font-weight: bold;
          color: white;
          font-size: 20px;
        }
      }
    }
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .mynav-wrapper {
    
    .myheader-item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      padding: 5px;
      margin-top: 90px;
      .face {
        display: none;
      }
      .myheader {
        font-size: 35px;
        span.s {
          color: rgba(21, 181, 250, 0.904);
          font-weight: bold;
          font-size: 40px;
          
        }
        span.u {
          color: rgba(255, 198, 37, 255);
          font-weight: bold;
          font-size: 40px;
        }
        span.m1 {
          color: rgba(240, 71, 156, 255);
          font-weight: bold;
          font-size: 40px;
        }
        span.m2 {
          color: rgba(185, 231, 62, 255);
          font-weight: bold;
          font-size: 40px;
        }
        span.e {
          color: rgba(41, 231, 255, 255);
          font-weight: bold;
          font-size: 40px;
        }
        span.r {
          color: rgba(255, 144, 72, 255);
          font-weight: bold;
          font-size: 40px;
        }
      }
      p.msg-intro {
        font-size: 25px;
        padding: 5px;
        mark {
          font-size: 20px;
        }
      }
      p#demo {
        font-size: 40px;
      }
    }
    .hold-nav-tabs {
      .summer-tabs {
        padding: 10px;
        border-bottom: none;
        justify-content: center;

        li.gradeschool {
          background-color: rgba(21, 181, 250, 0.904);
          border-radius: 10px;
          font-weight: bold;
          color: white;
          font-size: 20px;
        }
        li.preschool {
          background-color: rgba(255, 198, 37, 255);
          border-radius: 10px;
          font-weight: bold;
          color: white;
          font-size: 20px;
        }
        li.kindergarten {
          background-color: rgba(240, 71, 156, 255);
          border-radius: 10px;
          font-weight: bold;
          color: white;
          font-size: 20px;
        }
      }
    }
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .mynav-wrapper{
    .myheader-item {
      position: relative;
      color: white;
      margin-top: 20px;
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      mark {
        border-radius: 15px;
      }
      .face {
        position: relative;
        width: 250px;
        height: 250px;
        border-radius: 50%;
        background: rgb(107, 52, 1);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 1;
        &::before {
          content: "";
          font-weight: bold;
          text-align: center;
          position: absolute;
          top: 150px;
          width: 150px;
          height: 70px;
          background: #815400;
          border-bottom-left-radius: 70px;
          border-bottom-right-radius: 70px;
          transition: 0.5s;
        }
        &:hover::before {
          text-align: center;
          top: 180px;
          width: 150px;
          height: 20px;
          background: #815400;
          border-bottom-left-radius: 0px;
          border-bottom-right-radius: 0px;
          transition: 0.5s;
        }
        .eyes {
          position: relative;
          top: -20px;
          display: flex;
          .eye {
            position: relative;
            width: 60px;
            height: 60px;
            display: block;
            border-radius: 50%;
            background: rgb(255, 255, 255);
            margin: 0 15px;
            &::before {
              content: "";
              position: absolute;
              top: 30%;
              left: 25px;
              transform: translate(-50%, -50%);
              width: 20px;
              height: 20px;
              background: #333;
              border-radius: 50%;
            }
          }
        }
      }
      .myheader {
        font-weight: bold;
        font-size: 35px;
        span.s {
          color: rgba(21, 181, 250, 0.904);
          font-weight: bold;
          font-size: 45px;
          
        }
        span.u {
          color: rgba(255, 198, 37, 255);
          font-weight: bold;
          font-size: 45px;
        }
        span.m1 {
          color: rgba(240, 71, 156, 255);
          font-weight: bold;
          font-size: 45px;
        }
        span.m2 {
          color: rgba(185, 231, 62, 255);
          font-weight: bold;
          font-size: 45px;
        }
        span.e {
          color: rgba(41, 231, 255, 255);
          font-weight: bold;
          font-size: 45px;
        }
        span.r {
          color: rgba(255, 144, 72, 255);
          font-weight: bold;
          font-size: 45px;
        }
      }
      p.msg-intro {
        font-size: 30px;
        font-weight: bold;
      }
      a {
        padding: 10px;
        font-size: 20px;
        color: rgba(255, 198, 37, 255);
        font-weight: bold;
        &:hover {
          background-color: rgba(255, 255, 255, 0.288);
          color: rgb(255, 255, 255);
          border-radius: 10px;
          transition: 1s ease;
        }
      }
      p#demo {
        text-align: center;
        font-size: 50px;
        margin-top: 0px;
        color: rgb(250, 0, 0);
      }
      span#current-holder {
        font-weight: bold;
      }
    }
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
