{% extends "blog/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container mt-3">
  <br>
  <section class="showcase">
    <div class="row">
      <div class="col-xs-6 col-sm-6 col-md-7 mb-4">
        <!--Carousel Wrapper-->
        <div id="video-carousel-example2" class="carousel slide carousel-fade" data-ride="carousel">
          <!--Indicators-->
          <ol class="carousel-indicators">
            <li data-target="#video-carousel-example2" data-slide-to="0" class="active"></li>
            <li data-target="#video-carousel-example2" data-slide-to="1"></li>
            <li data-target="#video-carousel-example2" data-slide-to="2"></li>
          </ol>
          <!--/.Indicators-->
          <!--Slides-->
          <div class="carousel-inner" role="listbox">
            <!-- First slide -->
            <div class="carousel-item active">
              <!--Mask color-->
              <div class="view">
                <!--Video source-->
                <video class="video-fluid" autoplay loop muted>
                  <source src="{% static 'blog/vids/DBFU2431.MP4' %}" type="video/mp4" />
                </video>
                <div class="mask rgba-indigo-light"></div>
              </div>
        
              <!--Caption-->
              <div class="carousel-caption">
                <div class="animated fadeInDown">
                  <h3 class="h3-responsive font-weight-bold">Provisions for the needy</h3>
                  <p class="font-weight-bold">In times like these</p>
                </div>
              </div>
              <!--Caption-->
            </div>
            <!-- /.First slide -->
        
            <!-- Second slide -->
            <div class="carousel-item">
              <!--Mask color-->
              <div class="view">
                <!--Video source-->
                <video class="video-fluid" autoplay loop muted>
                  <source src="{% static 'blog/vids/EVMQ8338.MP4'%}" type="video/mp4" />
                </video>
                <div class="mask rgba-indigo-light"></div>
              </div>
        
              <!--Caption-->
              <div class="carousel-caption">
                <div class="animated fadeInDown">
                  <h3 class="h3-responsive font-weight-bold">Being human is all about</h3>
                  <p class="font-weight-bold">caring for other humans.</p>
                </div>
              </div>
              <!--Caption-->
            </div>
            <!-- /.Second slide -->
        
            <!-- Third slide -->
            <div class="carousel-item">
              <!--Mask color-->
              <div class="view">
                <!--Video source-->
                <video class="video-fluid" autoplay loop muted>
                  <source src="{% static 'blog/vids/DFUZ8892.MP4'%}" type="video/mp4" />
                </video>
                <div class="mask rgba-indigo-light"></div>
              </div>
        
              <!--Caption-->
              <div class="carousel-caption">
                <div class="animated fadeInDown">
                  <h3 class="h3-responsive font-weight-bold">We are happy</h3>
                  <p class="font-weight-bold">When they are happy.</p>
                </div>
              </div>
              <!--Caption-->
            </div>
            <!-- /.Third slide -->
          </div>
          <!--/.Slides-->
          <!--Controls-->
          <a class="carousel-control-prev" href="#video-carousel-example2" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#video-carousel-example2" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
          <!--/.Controls-->
        </div>
        <!--Carousel Wrapper-->
        <!-- <div id="carousel-example-2" class="carousel slide carousel-fade" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-2" data-slide-to="1"></li>
            <li data-target="#carousel-example-2" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
              <div class="view">
                <img class="z-depth-1-half d-block w-100" src="{% static 'blog/images/LHEQ2480.JPG' %}"
                  style="height:400px;">
                <div class="mask rgba-black-light"></div>
              </div>
              <div class="carousel-caption">
                <h3 class="h3-responsive" style="font-weight: bold;">Provisions for the needy</h3>
                <p style="font-weight: bold;">In times like these</p>
              </div>
            </div>
            <div class="carousel-item">
              <div class="view">
                <img class="d-block w-100" src="{% static 'blog/images/UQYY7614.JPG' %}" alt="Second slide"
                  style="height:400px;">
                <div class="mask rgba-black-slight"></div>
              </div>
              <div class="carousel-caption">
                <h3 class="h3-responsive" style="font-weight: bold;">Orgeon at work Tema.</h3>
                <p style="font-weight: bold;">Meeting with the counsel</p>
              </div>
            </div>
            <div class="carousel-item">
              <div class="view">
                <img class="d-block w-100" src="{% static 'blog/images/WIII6184.JPG' %}" alt="Third slide"
                  style="height:400px;">
                <div class="mask rgba-black-slight"></div>
              </div>
              <div class="carousel-caption">
                <h3 class="h3-responsive" style="font-weight: bold;">Food packaging in progress.</h3>
                <p style="font-weight: bold;">The needy needs you more than you think.</p>
              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div> -->
      </div>
      <div class="col-xs-6 col-sm-6 col-md-4 mb-3">
        <h3 class="text-center mb-3" style="font-weight: bold;">Battle COVID-19</h3>
        <h4 class="text-center mb-3 font-weight-bold">Stay Home,Stay Safe</h4>
        <br>
        <p>
          Till <span style="font-weight: bold;" class="animated bounce infinite">COVID-19</span> is dealt with,we are
          not giving up on the people.
        </p>
        <p>Help the needy,help save lives.Donate by hitting one of the buttons below.</p>
        <div class="d-flex">
          <span class="mr-4">
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
              <input type="hidden" name="cmd" value="_s-xclick" />
              <input type="hidden" name="hosted_button_id" value="NHYKARN4U4DWJ" />
              <input type="submit" value="One Time" id="butt" alt="Donate with PayPal button" style="border: none;">
            </form>
          </span>
          <span class="ml-4">
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
              <input type="hidden" name="cmd" value="_s-xclick" />
              <input type="hidden" name="hosted_button_id" value="4ABS2J7M6BLVC" />
              <input type="submit" value="Monthly" id="butt" alt="Donate with PayPal button" style="border: none;">
            </form>
          </span>
        </div>
      </div>
    </div>
  </section>
  <br>
  <hr class="my-4">
  <br>
  <h3 class="text-center mb-3">Our Services</h3>
  <br>
  <section class="services">
    <div class="row mb-4">
      <div class="col-xs-6 col-sm-6 col-md-2 mb-3 ">
        <div class="card mb-3">
          <img class="card-img-top" src="{% static 'blog/images/jesus-3149505_1280.jpg'%}" alt="Card image cap"><br>
          <div class="card-body service-christ mt-5">
            <sup class="simage-christ">
              <img class="card-title" src="{% static 'blog/images/christ.png' %}" alt="">
            </sup>
            <br>
            <a data-toggle="modal" data-target="#knowingChrist">Knowing Christ</a>
          </div>
        </div>
      </div>
      <br>
      <div class="col-xs-6 col-sm-6 col-md-2 mb-3">
        <div class="card mb-3">
          <img class="card-img-top" src="{% static 'blog/images/be-integrative-counselling-2.jpeg'%}"
            alt="Card image cap"><br>
          <div class="card-body service-counselling mt-5">
            <sup class="simage-counselling">
              <img class="card-title" src="{% static 'blog/images/counselling.png' %}" alt="">
            </sup>
            <br>
            <a data-toggle="modal" data-target="#counsellingModal">Counselling</a>
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-2 mb-3">
        <div class="card mb-3">
          <img class="card-img-top" src="{% static 'blog/images/education-russia-1.jpg'%}" alt="Card image cap"><br>
          <div class="card-body service-education mt-5">
            <sup class="simage-education">
              <img class="card-title" src="{% static 'blog/images/education.png' %}" alt="">
            </sup>
            <br>
            <a data-toggle="modal" data-target="#educationModal">Education</a>
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-2 mb-3">
        <div class="card mb-3">
          <img class="card-img-top" src="{% static 'blog/images/doc.jpg'%}" alt="Card image cap"><br>
          <div class="card-body service-medical mt-5">
            <sup class="simage-medical">
              <img class="card-title" src="{% static 'blog/images/medical.png' %}" alt="">
            </sup>
            <br>
            <a data-toggle="modal" data-target="#medicalModal">Medical Aid</a>
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-2 mb-3">
        <div class="card mb-3">
          <img class="card-img-top" src="{% static 'blog/images/Shelter_Comunidad-Jiw7.jpg'%}" alt="Card image cap"><br>
          <div class="card-body service-shelter mt-5">
            <sup class="simage-shelter">
              <img class="card-title" src="{% static 'blog/images/shelter.png' %}" alt="">
            </sup>
            <br>
            <a data-toggle="modal" data-target="#shelterModal">Shelter</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <br>
  <hr class="my-4">
  <br>
  <section class="stories">
    <div class="row mb-4 ">
      <div class="col-xs-6 col-sm-6 col-md-3 mb-3">
        <div class="card success" id="success">
          <div class="card-back-success"></div>
          <div class="card-success-content">
            <a href="{% url 'success' %}" class="text-center">Success Stories</a>
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-3 mb-3">
        <div class="card need">
          <div class="card-back-need"></div>
          <div class="card-need-content">
            <a href="{% url 'stories_of_need' %}" class="text-center">Stories of Need</a>
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-3 mb-3 ">
        <div class="card inspiration">
          <div class="card-back-inspiration"></div>
          <div class="card-inspiration-content">
            <a href="{% url 'inspirational_stories' %}" class="text-center">Inspiration</a>
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-3 mb-3 ">
        <div class="card vids">
          <div class="card-back-vid"></div>
          <div class="card-vid-content">
            <a href="{% url 'somevids' %}" class="text-center">Some Videos</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <br>
  <hr class="my-4">
  <br>
  <section class="cando mb-3">
    <div class="row mb-4">
      <div class="col-xs-6 col-sm-6 col-md-3 mb-3">
        <div class="card volunteer">
          <div class="card-back-volunteer"></div>
          <div class="card-volunteer-content">
            <a href="{% url 'volunteer_join' %}" class="text-center">Volunteer</a>
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-3 mb-3">
        <div class="card travel">
          <div class="card-back-travel"></div>
          <div class="card-travel-content">
            <a href="{% url 'events' %}" class="text-center">Travel with us</a>
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-3 mb-3">
        <div class="card partnership">
          <div class="card-back-partner"></div>
          <div class="card-partner-content">
            <a href="{% url 'become_a_partner' %}" class="text-center">Partner with us</a>
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-3 mb-3">
        <div class="card donate">
          <div class="card-back-donate"></div>
          <div class="card-donate-content">
            <a href="{% url 'donate' %}" class="text-center">Donate</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <hr class="my-4">

  <br>
</div>
<section class="footer-one">
  <div class="row">
    <div class="col-sx-6 col-sm-6 col-md-3 mb-3">
      <div class="for-logo">
        <img src="{% static 'blog/images/forhome.png' %}" alt="orgeon-logo">
      </div>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-3 mb-3 about-us">
      <h3 class="text-center mb-3">About Us</h3>
      <ul>
        <li class="mb-3">
          <a href="">Mission,Vision & Values</a>
        </li>
        <li class="mb-3">
          <a href="{% url 'employees' %}">The Team</a>
        </li>
        <li class="mb-3">
          <a href="{% url 'volunteers' %}">Volunteers</a>
        </li>
        <li class="mb-3">
          <a href="{% url 'partners' %}">Partners</a>
        </li>
        <li class="mb-3">
          <a href="">Reports & Financials</a>
        </li>
      </ul>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-3 mb-3 address">
      <div class="info-box mb-2">
        <i class="fas fa-map-marker-alt mr-2"></i>2606 Mirage Avenue Plainfield, Illinois United States 60586
      </div>
      <div class="info-box mb-2">
        <i class="fas fa-map-marker-alt mr-2"></i>No.12 Boundary Road, East Legon-Accra
      </div>
      <div class="info-box mb-2">
        <i class="fas fa-phone"></i> United States:815-600-6487 <br>
      </div>
      <div class="info-box mb-2">
        <i class="fas fa-phone"></i> Ghana:+233 24 458 6600 <br>
      </div>
      <div class="info-box mb-2">
        <i class="fas fa-envelope"></i> help@orgeonofstars.org
      </div>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-3 mb-3 follow-us">
      <h5 class="text-center mb-3">Follow us</h5>
      <div class="social-icons mb-3">
        <a href="https://www.facebook.com/hopeorgeonofstars-309631359937695/?__tn__=%2Cd%2CP-R&eid=ARDvvJO-Pv5b_GV6VKvU2mQrIRjtI5OyACb_aM537mwafkSKiaxancgNBDn6GvmiZe665-UZjsOKq1qY"
          target="_blank">
          <!-- <i class="fab fa-facebook-f"></i> -->
          <img src="{% static 'blog/images/facebook.png' %}" alt="">
        </a>
        <a href="https://www.instagram.com/hopeorgeonofstars/" target="_blank">
          <!-- <i class="fab fa-instagram"></i> -->
          <img src="{% static 'blog/images/instagram.png' %}" alt="">
        </a>
        <a href="https://www.youtube.com/channel/UChDw2wQiCqw0s0aSLph3sPA" target="_blank">
          <!-- <i class="fab fa-youtube"></i> -->
          <img src="{% static 'blog/images/youtube.png' %}" alt="">
        </a>
      </div>
      <br>
      <h5 class="text-center mb-3">Signup to hear from us</h5>
      <form method="post" id="theform">
        {% csrf_token %}
        <fieldset class="form-group">
          {{ form|crispy }}
        </fieldset>
        <div class="form-group">
          <button type="submit" id="butt" style="border: none;">Subscribe</button>
        </div>
      </form>

    </div>
  </div>
</section>
<footer class="page-footer font-small ">
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://ORgeonofstars.org"> orgeonofstars.org</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- knowing Christ modal -->
<div class="modal fade" id="knowingChrist" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Knowing Christ</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          <ul>
            <li>1.Evangelism----As a Christian base organization we commission ourselves to preach and spread the word
              of God. We seek to feed the lost souls with the word of God and lead them to Christ.</li>
            <li>2.Bible classes for new converts--- For beginners who have led to Christ, we organize classes for our
              new convert to learn all about God. </li>
            <li>3.Prayer guidance---- Contacts us with any prayer request and we will remember you during our prayer
              sessions.</li>
          </ul>
        </p>
      </div>
    </div>
  </div>
</div>
<!-- end of knowing Christ Modal -->
<!-- counselling -->

<div class="modal fade" id="counsellingModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">COUNSELING AND MENTORSHIP</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>We offer counselling sessions to children struggling with drug addictions, behavior problems, abuse victims
          and etc. Our mentorship programs also offers guidance for carrier and talents development.</p>
      </div>
    </div>
  </div>
</div>
<!-- end of counselling -->
<!-- education -->
<div class="modal fade" id="educationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">ECUCATIONAL AND VOCATIONAL SKILLS PROGRAM</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Great educational opportunities are offered to children or adolescence who are either behind in education or
          never had the opportunity to attend one.Basic education and vocational skills such as carpentry,
          tailoring/designing , beauty school/ cosmetology, catering and etc. are some of the courses we offer</p>
      </div>
    </div>
  </div>
</div>
<!-- end of education -->
<!-- medical aid -->

<div class="modal fade" id="medicalModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Medical Aid</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          Annual health screening & health educational programs are conducted to help with early sickness detection or
          prevention. Our medical bill assistance program provides aid for children from; age 0-17. The criteria to
          qualify for this aid are;
          <ul>
            <li>1. Health condition must be critical or a chronic condition. </li>
            <li>2.Family income must be legally proven to be less than the outstanding bill.</li>
            <li>3. Family must adhere to medical treatment at all times.</li>
          </ul>
        </p>
      </div>

    </div>
  </div>
</div>
<!-- end of medical aids -->
<!-- shelter -->

<div class="modal fade" id="shelterModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Shelter</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>We provide shelters for temporal stay for children struggling with accommodation, whiles finding a permanent
          home for them. Orphanage home for orphans.</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}