{% extends "blog/sidenav.html" %}

{% block content %}
    <div class="container mt-4">
        <div class="row mb-3">
            <div class="col-xs-6 col-sm-6 col-md-8 mb-3">
                <div class="themessage">
                    <img class="z-depth-1-half" src="{{ instant_message.sender.profile.profile_pic.url }}" alt="">
                    <span class="ml-2">{{ instant_message.sender }}</span>
                    <br>
                    <div class="instant-container mt-3 mb-3">
                        <h3 class="text-center mb-3">{{ instant_message.title }}</h3>
                        <p class="instant-content">{{ instant_message.message_content|safe }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}