{% extends "blog/base2.html" %}

{% block content %}
<div class="just-main">
    <div class="container">
        <br>
        <h3 class="text-center mb-2 dashboard animated bounceInDown">Dashboard</h3>
        <small style="color: white;font-weight: bold;text-transform: capitalize;">Online</small>
        <span class="users-online">

            {% for user in users %}
            <div class="online-user" id="online-now">
                <img src="{{ user.user.profile.profile_pic.url}}" alt="user-pic" class="z-depth-1-half animated jello" title="@{{ user.user.username }}" >
            </div>
            {% endfor %}</span>
        <div class="row mb-3">
            <!-- reports -->
            <div class="col-xs-6 col-sm-6 col-md-4 mb-3 userdetails">
                <div class="card">
                    <div class="view overlay">
                        <img class="card-img-top"
                            src="{{ request.user.profile.profile_pic.url }}"
                            alt="Card image cap">
                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                    <div class="card-body  white-text rounded-bottom">
                        <h4 class="card-title">@{{ request.user.username }}</h4>
                        <hr class="hr-light">
                        <p class="card-text white-text mb-4">{{ request.user.profile.bio}}</p>
                        <p class="card-text white-text mb-4">{{ request.user.email }}</p>
                        <p class="card-text white-text mb-4">{{ request.user.profile.position }}</p>
                        <a href="{% url 'profile' %}" class="butt white-text  justify-content-start">
                            Edit Profile
                        </a>
                    </div>
                </div>
            </div>
            <!-- posts -->
            <div class="col-xs-5 col-sm-5 col-md-4 mb-3 main-post">
                <h5 class="mb-2">Admin Notes</h5>
                <ul class="list-group z-depth-1-half mb-2">
                    {% for post in posts %}
                    {% if request.user in post.has_read.all %}
                    <li class="list-group-item">
                        <sup style="float: right;"><small class="text-muted badge badge-default">Read</small></sup>
                        <img src="{{ post.author.profile.profile_pic.url }}" alt="" title="@{{ post.author }}">
                        <a class="ml-2 text-muted" href="{{ post.get_absolute_post_url }}">{{ post.title }}</a><br>
                        <small class="text-muted" style="float: right;">{{ post.date_posted|date:"D d M Y"}}</small>
                    </li>
                    {% else %}
                    <li class="list-group-item">
                        <sup style="float: right;" class="mt-1"><small
                                class="badge badge-danger animated jello infinite">New</small></sup>
                        <img src="{{ post.author.profile.profile_pic.url }}" alt="" title="@{{ post.author }}">
                        <a class="ml-2 text-muted" href="{{ post.get_absolute_post_url }}">{{ post.title }}</a><br>
                        <small class="text-muted" style="float: right;">{{ post.date_posted|date:"D d M Y"}}</small>
                    </li>
                    {% endif %}
                    {% empty %}
                    <li class="list-group-item">Sorry,no posts  from the Admin</li>
                    {% endfor %}
                </ul>
                <br>
                <a class="butt" href="{% url 'posts' %}">View All</a>
            </div>
            <!-- events -->
            <div class="col-xs-5 col-sm-5 col-md-4 mb-3 main-user-messages">
                <h3 class="mb-2">Private Chat</h3>
                <ul class="list-group z-depth-1-half mb-2">
                    {% for user in chat  %}
                    <a class="ml-2 text-muted" href="{% url 'userdetail' user.username %}">
                        <li class="list-group-item">
                            <img src="{{ user.profile.profile_pic.url }}" title="@{{ user.username }}">
                            {{ user.username }}
                            <br>
                            <!-- <span class="text-muted">{{ last_message }}</span> -->
                        </li>
                    </a>
                    {% endfor %}
                </ul>
                <br>
            </div>
        </div>
        <hr class="my-4">

        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-4 mb-3 main-reports">
                <h5 class="mb-2 ">Reports</h5>
                <ul class="list-group z-depth-1-half mb-2">
                    {% for report in reports %}
                    {% if request.user in report.has_read.all %}
                    <li class="list-group-item">
                        <sup style="float: right;"><small class="text-muted badge badge-default">Read</small></sup>
                        <img src="{{ report.user.profile.profile_pic.url }}" alt="" title="@{{ report.user }}">
                        <a class="ml-2 text-muted" href="{{ report.get_absolute_url }}">{{ report.title }}</a><br>
                        <small class="text-muted" style="float: right;">{{ report.date_posted|date:"D d M Y"}}</small>
                    </li>
                    {% else %}
                    <li class="list-group-item">
                        <sup style="float: right;" class="mt-1"><small
                                class="badge badge-danger animated jello infinite">New</small></sup>
                        <img src="{{ report.user.profile.profile_pic.url }}" alt="" title="@{{ report.user }}">
                        <a class="ml-2 text-muted" href="{{ report.get_absolute_url }}">{{ report.title }}</a><br>
                        <small class="text-muted" style="float: right;">{{ report.date_posted|date:"D d M Y"}}</small>
                    </li>
                    {% endif %}
                    {% empty %}
                    <li class="list-group-item">Sorry,no reports available</li>
                    {% endfor %}
                </ul>
                <br>
                <a class="butt" href="{% url 'reports' %}">View All</a>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-4 mb-3 main-post">
                <h5 class="mb-2">Events</h5>
                <ul class="list-group z-depth-1-half">
                    {% for cv in current_events %}
                    <li class="list-group-item">
                        <img src="{{ cv.user.profile.profile_pic.url }}" alt="">
                        <a class="ml-2 text-muted" href="{{ cv.get_absolute_event_url }}">{{ cv.theme }}</a>
                    </li>
                    {% empty %}
                    <li class="list-group-item">Sorry,no events available</li>
                    {% endfor %}
                </ul>
                <br>
            </div>
        </div>
    </div>
</div>
<script>

    setInterval(function () {
        location.reload();
    }, 300000);

</script>
{% endblock %}