{% load static %}
<!--Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark sticky-top" style="background: #0037a0;">
  <div class="container">
  <a class="navbar-brand" href="{% url 'main' %}">
    <img src="{% static 'blog/images/logo-orgeon.jpg' %}" alt="" style="width: 40px;height: 40px;border-radius: 20px; border: solid silver 2px;">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
    aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'main' %}"><i class="fas fa-home mr-1"></i>Home</a>
      </li>
      <li class="nav-item" title="view all employees">
        <a class="nav-link" href="{% url 'employees' %}"><i class="fas fa-users mr-1"></i>Employees</a>
    </li>
    {% if request.user.username == "secretary" %}
    <li class="nav-item" title="add a new employee">
        <a class="nav-link" href="{% url 'register' %}"><i class="fas fa-plus mr-1"></i>Employee</a>
    </li>
    <li class="nav-item" title="view all clients">
      <a class="nav-link" href="{% url 'clients' %}"><i class="fas fa-users mr-1"></i>Clients</a>
    </li>
    <li class="nav-item" title="view all clients">
      <a class="nav-link" href="{% url 'ourvolunteers' %}"><i class="fas fa-users mr-1"></i>Ourvolunteers</a>
    </li>
    <li class="nav-item" title="add a new client">
      <a class="nav-link" href="{% url 'clients_new' %}"><i class="fas fa-plus mr-1"></i>Add Client</a>
    </li>

    {% endif %}
    <li class="nav-item" title="view all reports">
        <a class="nav-link" href="{% url 'reports' %}"><i class="fas fa-edit mr-1"></i>Reports</a>
    </li>
    <li class="nav-item" title="add a new report">
        <a class="nav-link" href="{% url 'create_report' %}"><i class="fas fa-plus mr-1"></i>Report</a>
    </li>
   
    <li class="nav-item" title="Group chat">
      <a class="nav-link" href="{% url 'chat' %}">
        G-Chat <i class="far fa-comment"></i>++
      </a>
    </li>
    </ul>
    <ul class="navbar-nav ml-auto nav-flex-icons">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <img src="{{ request.user.profile.profile_pic.url }}" alt="" style="width: 40px;height: 40px;border-radius: 20px; border: solid silver 2px;" title="{{ request.user.username }}">
        </a>
        <div class="dropdown-menu dropdown-menu-right dropdown-default"
          aria-labelledby="navbarDropdownMenuLink-333">
          <a title="view profile" class="dropdown-item" href="{% url 'profile' %}"><i class="fas fa-user mr-1"></i>Profile</a>
          {% if request.user.username == "joycelyn" %}
          <a title="View all your Clients" class="dropdown-item" href="{% url 'clients' %}"><i class="fas fa-users mr-1" ></i>Clients</a>
          <a title="View all your Clients" class="dropdown-item" href="{% url 'clients_new' %}"><i class="fas fa-users mr-1" ></i>Add Client</a>
          <a title="View all your Clients" class="dropdown-item" href="{% url 'ourvolunteers' %}"><i class="fas fa-users mr-1" ></i>Our Volunteers</a>
          <a title="send post to all employees" class="dropdown-item" href="{% url 'post_new' %}"><i class="fas fa-plus-circle mr-1"></i>Post</a>
          <a class="dropdown-item" href="{% url 'event_new' %}" title="send post to all employees"><i class="fas fa-plus-circle mr-1"></i>Event</a>
          <a title="send updates to subscribers" class="dropdown-item" href="{% url 'newsletter_create' %}"><i class="fas fa-plus-circle mr-1" ></i>News</a>
          <a title="check the day to day activities" class="dropdown-item" href="{% url 'activities' %}"><i class="fas fa-chart-pie mr-1"></i>Activities</a>
          {% endif %}
          <a title="logout of your accounts" class="dropdown-item" href="{% url 'logout' %}"><i class="fas fa-sign-out-alt mr-1"></i>Logout</a>
        </div>
      </li>
    </ul>
  </div>
</div>
</nav>
