{% load static %}
{% load crispy_forms_tags %}

<div class="row mb-3">
  <div class="col-xs-5 col-sm-5 col-md-6 mb-3">
    <form method="post" class="comment-form" action=".">
      <fieldset class="form-group">
        {% csrf_token %}
        {{ form|crispy }}
      </fieldset>
      {% if user.is_authenticated %}
      <div class="form-group">
        <button class="btn btn-sm btn-outline-info" type="submit">
          Submit
        </button>
      </div>
      {% else %}
      <div class="form-group">
        <button class="btn btn-sm btn-outline-info" type="submit" disabled>
          Submit
        </button>
      </div>
      {% endif %}
    </form>
  </div>
  <br />
  <hr class="my-4" />
  <br />
  <div class="col-xs-5 col-sm-5 col-md-6 mb-3">
    <h4 class="mb-3">
      Replies <span class="ml-2 badge badge-info">{{ stories.count }}</span>
    </h4>
    <br />
    <div class="comment-section">
      {% for comment in stories %}
      <div class="userpicandname">
        <img src="{{ comment.user.profile.profile_pic.url }}" alt="user-profile-picture"
          style="width: 50px;height: 50px;border-radius: 25px;" />
        <a href="">{{ comment.user }}</a>
        <sup style="float: right;"><small>{{ comment.date_posted }}</small></sup>
      </div>
      <div class="usersanswer mb-3">
        <p>{{ comment.comment_content | safe }}</p>
        <button class="reply-butt" class="text-muted">
          <img class="mr-2" src="{% static 'blog/images/next.png' %}" alt=""
            style="width: 20px;height: 20px;font-weight: bold;" />Reply
        </button>
        <hr class="my-2" />
        <br />
      </div>
      <div class="replied-comments container mt-2 mb-2 ml-4" style="display: none;">
        {% for reply in comment.replies.all %}
        <div class="container">
          <small>
            <img src="{{ reply.user.profile.profile_pic.url }}" alt=""
              style="width: 40px;height: 40px;border-radius: 20px;" />
            <a href="">{{ reply.user }}</a>
            <p>{{ reply.comment }}</p>
          </small>
        </div>
        {% endfor %}
        <div class="form-group row">
          <form method="post" class="reply-form" action=".">
            <fieldset class="form-group">
              {% csrf_token %}
              <input type="hidden" name="comment_id" value="{{ comment.id }}" />
              {{ form|crispy }}
            </fieldset>
            {% if user.is_authenticated %}
            <div class="form-group">
              <button class="btn btn-sm btn-outline-info" type="submit">
                Submit
              </button>
            </div>
            {% else %}
            <div class="form-group">
              <button class="btn btn-sm btn-outline-info" type="submit" disabled>
                Submit
              </button>
            </div>
            {% endif %}
          </form>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<script>
    CKEDITOR.replace( 'employeecommentform' );
  </script>