{% extends "blog/sidenav.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container mt-4">
    <div class="row mb-3">
        <div class="col-xs-6 col-sm-col-md-8 mr-auto ml-auto mb-3">
            <form method="post" id="theform" enctype="multipart/form-data">
                {% csrf_token %}
                <fieldset class="form-group">
                  {{ form|crispy}}
                </fieldset>
                <div class="form-group">
                  <button id="post_form_but" type="submit">Post</button>
                </div>
              </form>
        </div>
    </div>
</div>

<script>
  CKEDITOR.replace( 'message' );
</script>
{% endblock %}