{% extends "blog/base.html" %}
{% load static %}

{% block content %}
<div class="container mt-3">
    <h3 class="text-center mt-3 mb-3">Our Success Stories</h3>
    <div class="row">
        <br>
        <div class="col-xs-5 col-sm-6 col-md-6 mb-3">
            <h3 class="text-center mb-3">Janet's first day in school.</h3>
            <br>
            <p>Janet Sekyere,a 3-year-old girl who lost her father in a murder case can now go to school to learn to
                read
                and write.It's a blessing to find such an angel like Janet to support and nurture inot a shining star.
            </p>
            <small class="text-muted">Click on photo to unlarge</small>
            <div class="pics mb-3">
                <a class="mr-2" href="{% static 'blog/images/47.jpg' %}" data-lightbox="gallery">
                    <img class="mb-2 z-depth-1-half" src="{% static 'blog/images/IMG_0054.JPG' %}" alt="">
                </a>
            </div>
        </div>
        <br>
        <div class="col-xs-6 col-sm-6 md-6 mb-3">
            <h3 class="text-center mb-3">Baby Isabella</h3>
            <br>
            <p>ORgeon of Stars, supporting Isabelle Akofa Lackey and her mom, who has 3 other kids. Mother had a home
                delivery and ended up with pregnancy induced hypertension. Unable to seek medical help because of
                funding and signed out of medical care. ORgeon of Stars surprised Isabelle and her family during Easter,
                with monetary gifts and other items. We will continue our care till mother fully recovers and is fit
                enough to work.Watch full story version at our youtube channel and please subscribe too.</p>
            <small class="text-muted">Click on photo to unlarge</small>
            <div class="pics mb-3">
                <a class="mr-2" href="{% static 'blog/images/47.jpg' %}" data-lightbox="gallery">
                    <img class="mb-2 z-depth-1-half" src="{% static 'blog/images/47.jpg' %}" alt="">
                </a>
                <a class="mr-2" href="{% static 'blog/images/46.jpg' %}" data-lightbox="gallery">
                    <img class="mb-2 z-depth-1-half" src="{% static 'blog/images/46.jpg' %}" alt="">
                </a>
                <a class="mr-2" href="{% static 'blog/images/45.jpg' %}" data-lightbox="gallery">
                    <img class="mb-2 z-depth-1-half" src="{% static 'blog/images/45.jpg' %}" alt="">
                </a>
                <a class="mr-2" href="{% static 'blog/images/44.jpg' %}" data-lightbox="gallery">
                    <img class="mb-2 z-depth-1-half" src="{% static 'blog/images/44.jpg' %}" alt="">
                </a>
                <a class="mr-2" href="{% static 'blog/images/42.jpg' %}" data-lightbox="gallery">
                    <img class="mb-2 z-depth-1-half" src="{% static 'blog/images/42.jpg' %}" alt="">
                </a>
                <a class="mr-2" href="{% static 'blog/images/1c3c3eb6-f650-4e28-a4cf-2919ffdd459f-768x1024.jpg' %}"
                    data-lightbox="gallery">
                    <img class="mb-2 z-depth-1-half"
                        src="{% static 'blog/images/1c3c3eb6-f650-4e28-a4cf-2919ffdd459f-768x1024.jpg' %}" alt="">
                </a>
                <a class="mr-2" href="{% static 'blog/images/cec901e8-a8c2-4ae0-895f-5ab40d945d3b-768x1024.jpg' %}"
                    data-lightbox="gallery">
                    <img class="mb-2 z-depth-1-half"
                        src="{% static 'blog/images/cec901e8-a8c2-4ae0-895f-5ab40d945d3b-768x1024.jpg' %}" alt="">
                </a>
                <a class="mr-2" href="{% static 'blog/images/280d5c68-107c-4a30-a55c-645e3d918988-768x1024.jpg' %}"
                    data-lightbox="gallery">
                    <img class="mb-2 z-depth-1-half"
                        src="{% static 'blog/images/280d5c68-107c-4a30-a55c-645e3d918988-768x1024.jpg' %}" alt="">
                </a>
            </div>
        </div>
        <br>
        
    </div>
    <br>
    <hr class="my-4">
    <br>
    <div class="row mb-3">
        <div class="col-xs-6 col-sm-6 col-md-6 mb-3">
            <h3 class="text-center mb-3">Apostle Patel</h3>
            <br>
            <div class="sometext">
                <p>We took this picture in 2007, it was our very first event and donation. We had a fun play day with
                    with the orphans at the Teshie-Nungua Orphanage. We gave some monetary gifts and some basic items to
                    show our love and support.</p>
            </div>
            <br>
            <div class="pics mb-3">
                <a class="mb-3" href="{% static 'blog/images/71.jpg' %}" data-lightbox="gallery">
                    <img class="mb-2 z-depth-1-half" src="{% static 'blog/images/71.jpg' %}" alt="">
                </a>
            </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 mb-3">
            <h3 class="text-center mb-3">Precious Lives(Faustina's Story)</h3>
            <br>
            <div class="sometext">
                <p>ORgeon of Stars followed up on a murder case on Joy News, a story covered by Afua a journalist from
                    Joy FM station. An employee was murdered by his boss on April,18th 2019, the decease known as
                    Kwabena Sekyere, left behind a pregnant wife with a 2-year-old daughter. Receiving the shocking
                    news, the decease wife went into labor and delivered a baby girl. ORgeon of Stars upon hearing this
                    terrible incident, went to aid the decease’s wife by name Faustina and her 2 children on friday
                    April 26,.2019. We presented a monetary award and will continue our care till mother is stable
                    enough to cater for her children.</p>
            </div>
            <br>
            <div class="pics mb-3">
                <a class="mr-2" href="{% static 'blog/images/8CF26575-DA5D-40BE-B103-001D15E40A43-768x1024.jpeg' %}"
                    data-lightbox="gallery">
                    <img class="mb-2 z-depth-1-half"
                        src="{% static 'blog/images/8CF26575-DA5D-40BE-B103-001D15E40A43-768x1024.jpeg' %}" alt="">
                </a>
                <a class="mr-2" href="{% static 'blog/images/B50499A8-458A-45D0-B008-6A16E4EA06B1-768x1024.jpeg' %}"
                    data-lightbox="gallery">
                    <img class="mb-2 z-depth-1-half"
                        src="{% static 'blog/images/B50499A8-458A-45D0-B008-6A16E4EA06B1-768x1024.jpeg' %}" alt="">
                </a>
                <a class="mr-2" href="{% static 'blog/images/C7DE0011-B0EA-4525-B2E3-DD50A8B8F0C9-768x1024.jpeg' %}"
                    data-lightbox="gallery">
                    <img class="mb-2 z-depth-1-half"
                        src="{% static 'blog/images/C7DE0011-B0EA-4525-B2E3-DD50A8B8F0C9-768x1024.jpeg' %}" alt="">
                </a>
                <a class="mr-2" href="{% static 'blog/images/Screenshot-from-2019-06-26-00-01-41.png' %}"
                    data-lightbox="gallery">
                    <img class="mb-2 z-depth-1-half"
                        src="{% static 'blog/images/Screenshot-from-2019-06-26-00-01-41.png' %}" alt="">
                </a>
            </div>
        </div>
    </div>
    <br>
    <hr class="my-4">
    <br>
    <div class="row mb-3">
        <div class="col-xs-6 col-sm-6 col-md-6 mb-3">
            <h3 class="text-center mb-3">Ama Animah</h3>
            <br>
            <div class="sometext">
                <p>ORgeon of Stars , supported crime check foundation to aid Ama Anima. She was sent to prison (over a
                    petty issue) whiles heavily pregnant with her twin boys. We helped bail her out , set up a business
                    and helped her through safe delivery.</p>
            </div>
            <br>
            <div class="pics mb-3">
                <a class="mr-2" href="{% static 'blog/images/75.jpg' %}" data-lightbox="gallery">
                    <img class="mb-2 z-depth-1-half" src="{% static 'blog/images/75.jpg' %}" alt="">
                </a>
            </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 mb-3">
            <h3 class="text-center mb-3">Teshie-Nungua Orphanage</h3>
            <br>
            <div class="sometext">
                <p>We took this picture in 2007, it was our very first event and donation. We had a fun play day with
                    the orphans at the Teshie-Nungua Orphanage. We gave some monetary gifts and some basic items to show
                    our love and support.</p>
            </div>
            <br>
            <div class="pics mb-3">
                <a class="mr-2" href="{% static 'blog/images/74.jpg' %}" data-lightbox="gallery">
                    <img class="mb-2 z-depth-1-half" src="{% static 'blog/images/74.jpg' %}" alt="">
                </a>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-xs-6 col-sm-6 col-md-6 mb-3">
            <h3 class="text-center mb-3">Prampram polyclinic.</h3>
            <br>
            <div class="sometext mb-3">
                <p>ORgeon of Stars , in-cooperated with other NGOs to help eradicate hunger. Our goal for this event is
                    to help with the vision “Zero hunger by 2030”. Event was held at Christ the king, power packed with
                    food, games and a time of interactions with the street children.</p>
            </div>
            <br><br>
            <div class="pics mb-3">
                <a class="mr-2" href="{% static 'blog/images/PHOTO-2019-04-11-14-53-36.jpg' %}" data-lightbox="gallery">
                    <img class="mb-2 z-depth-1-half" src="{% static 'blog/images/PHOTO-2019-04-11-14-53-36.jpg' %}"
                        alt="">
                </a>
                <a class="mr-2" href="{% static 'blog/images/PHOTO-2019-04-11-14-53-25.jpg' %}" data-lightbox="gallery">
                    <img class="mb-2 z-depth-1-half" src="{% static 'blog/images/PHOTO-2019-04-11-14-53-25.jpg' %}"
                        alt="">
                </a>
                <a class="mr-2" href="{% static 'blog/images/PHOTO-2019-04-11-14-52-09_1-1024x768.jpg' %}"
                    data-lightbox="gallery">
                    <img class="mb-2 z-depth-1-half"
                        src="{% static 'blog/images/PHOTO-2019-04-11-14-52-09_1-1024x768.jpg' %}" alt="">
                </a>
                <a class="mr-2" href="{% static 'blog/images/PHOTO-2019-04-11-14-52-08_2-1024x768.jpg' %}"
                    data-lightbox="gallery">
                    <img class="mb-2 z-depth-1-half"
                        src="{% static 'blog/images/PHOTO-2019-04-11-14-52-08_2-1024x768.jpg' %}" alt="">
                </a>
                <a class="mr-2" href="{% static 'blog/images/PHOTO-2019-04-11-14-52-08_3-1024x768.jpg' %}"
                    data-lightbox="gallery">
                    <img class="mb-2 z-depth-1-half"
                        src="{% static 'blog/images/PHOTO-2019-04-11-14-52-08_3-1024x768.jpg' %}" alt="">
                </a>
                <a class="mr-2" href="{% static 'blog/images/PHOTO-2019-04-11-14-52-06-1024x768.jpg' %}"
                    data-lightbox="gallery">
                    <img class="mb-2 z-depth-1-half"
                        src="{% static 'blog/images/PHOTO-2019-04-11-14-52-06-1024x768.jpg' %}" alt="">
                </a>
                <a class="mr-2" href="{% static 'blog/images/PHOTO-2019-04-11-14-50-45_1-1024x768.jpg' %}"
                    data-lightbox="gallery">
                    <img class="mb-2 z-depth-1-half"
                        src="{% static 'blog/images/PHOTO-2019-04-11-14-50-45_1-1024x768.jpg' %}" alt="">
                </a>
                <a class="mr-2" href="{% static 'blog/images/PHOTO-2019-04-11-14-50-46_3-1024x768.jpg' %}"
                    data-lightbox="gallery">
                    <img class="mb-2 z-depth-1-half"
                        src="{% static 'blog/images/PHOTO-2019-04-11-14-50-46_3-1024x768.jpg' %}" alt="">
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}