
<div class="card-body msg_card_body">

    {% for message in chat %}
    {% if message.sender == request.user and message.receiver == deuser %}
    <div class="d-flex justify-content-end mb-4">
        <div class="msg_cotainer">
            {{ message.message }}
            <span class="msg_time">{{ message.date_sent }}</span>
        </div>
        <div class="img_cont_msg">
            <img src="{{ request.user.profile.profile_pic.url}}" class="rounded-circle user_img_msg ml-2">
        </div>
    </div>
    {% else %}
    <div class="d-flex justify-content-start mb-4">
        <div class="img_cont_msg">
            <img src="{{ message.sender.profile.profile_pic.url }}" class="rounded-circle user_img_msg mr-2">
        </div>
        <div class="msg_cotainer_send ml-2">
            {{ message.message }}
            <small class="msg_time_send">{{ message.date_sent }}</small>
        </div>
    </div>
    {% endif %}
    {% endfor %}

</div>

{% if user.is_authenticated %}
<div class="card-footer">
    <div class="input-group">
        {% load crispy_forms_tags%}
        <form action="." method="POST"  class="private-chat-form">
            <fieldset class="form-group">
                {% csrf_token %}
                {{ form|crispy }}
            </fieldset>
            <div class="input-group-append form-group">
                <button class="input-group-text send_btn" type="submit" id="private-chat-button">
                    <i class="fas fa-location-arrow"></i>
                </button>
            </div>
        </form>
    </div>
</div>
{% endif %}

