{% extends "blog/base2.html" %}
{% load crispy_forms_tags%}
{% block content %}
<div class="container-fluid h-100">
    <div class="row justify-content-center h h-100" id="message-box1">
        <div class="col-xs-6 col-sm-6 col-md-10 col-xl-8  chat">
            <div class="card">
                <div class="card-header msg_head">
                    <div class="d-flex bd-highlight">
                        <div class="img_cont">
                            <img src="{{ deuser.profile.profile_pic.url }}" class="rounded-circle user_img">
                        </div>
                        <div class="user_info">
                            <div style="display: flex;justify-content: space-between;">
                                <span>{{ deuser.username }}</span>
                            </div>
                            <small class="mr-2 text-muted" style="color: white;">Last seen: {{ deuser.last_login }}</small>
                        </div>
                    </div>
                </div>
                <div class="private-message-display">
                    {% include "blog/umessages.html" %}
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
</div>
<script>
    setInterval(function () {
        location.reload();
    }, 40000);

</script>
{% endblock %}