{% extends "blog/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container mt-3">
        <h3 class="text-center mb-3">Become a volunteer</h3>
        <br>
        <div class="row mb-3">
            <div class="col-xs-6 col-sm-6 col-md-6 mr-auto ml-auto">
              <form method="post" id="volunteerform" enctype="multipart/form-data" class="volunform">
                {% csrf_token %}
                <fieldset class="form-group">
                  {{ form|crispy}}
                </fieldset>
                <div class="form-group">
                  <button id="butt" class="" type="submit">Volunteer</button>
                </div>
              </form>
            </div>
          </div>
    </div>
{% endblock %}