{% extends 'blog/base2.html' %}
{% load static %}

{% load crispy_forms_tags %}
{% block content %}
<div class="container mt-4">
  <div class="employee-profile-info mb-3 z-depth-1-half" style="background: url('{{ user.profile.cover_pic.url}}');background-repeat: no-repeat;background-size: cover;">
    <div class="row">
      <div class="col-xs-5 col-sm-5 col-md-2 mb-3 mr-auto ml-auto">
        <div class="employee-profile-image">
          <img src="{{ user.profile.profile_pic.url }}" alt="" class="z-depth-1-half">
        </div>
      </div>
      <div class="col-xs-5 col-sm-5 col-md-8 mb-3 mt-4">
        <div class="deinfo">
          <h4>@{{ user.username }}</h4>
          <small class="">{{ user.email }}</small><br>
          <small class="">{{ user.profile.bio }}</small><br>
          <small class="">{{ user.profile.position }}</small>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <div class="container">
    <div class="row mb-3">
      <div class="col-xs-5 col-sm-5 col-md-8 ml-auto mr-auto">
        <form method="POST" id="proform" enctype="multipart/form-data">
          {% csrf_token %}
          <fieldset class="form-group">
            <legend class="mb-3 text-center" style="color: white;">
              Update your profile below
            </legend>
            {{ u_form | crispy }}
            {{ p_form | crispy }}
          </fieldset>
          <div class="form-group">
            <button type="submit" id="butt">Update</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}